<div [hidden]="!displaySpinner" class="spinner">
  <app-radar-spinner
    [animationDuration]="1000"
    [size]="200"
    [color]="'#666666'">
  </app-radar-spinner>
</div>

<div [hidden]="displaySpinner">
  <slider></slider>
  <app-upper-ads></app-upper-ads>

  <div class="products">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="product_grid">
            <div class="product" *ngFor="let product of products">
              <single-product [product]="product"></single-product>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-bottom-ads></app-bottom-ads>
    <app-icons></app-icons>
  </div>
</div>
