<div class="home" *ngIf="!isHome">
  <div class="home_slider_container">

    <!-- Home Slider -->
    <div class="owl-carousel owl-theme home_slider">

      <!-- Slider Item -->
      <div class="owl-item home_slider_item">
        <div class="home_slider_background" [@slider]="selectedIndex">
          <div class="slide" *ngFor="let image of images"> <img class='sliderImage' [src]="image" /> </div>
        </div>
        <div class="home_slider_content_container">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="home_slider_content"  data-animation-in="fadeIn" data-animation-out="animate-out fadeOut">
                  <div class="home_slider_title">A new Online Shop experience.</div>
                  <div class="home_slider_subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus. Sed nec molestie eros. Sed viverra velit venenatis fermentum luctus.</div>
                  <div class="button button_light home_button"><a href="#">Shop Now</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
